.component{
    display: flex;
    flex-direction: column;
}
.line{
    width: 100;
    height: 10px;
    background-color: gray;
}
.ctn2{
    width: 100vw;
    height: 70vh;
    background-color: black;
    display: flex;
    align-items: center;
  
}
.left{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.f-heading{
    color: white;
    font-size: 3rem;
}
.f-para{
    color: white;
    font-size: 1.5rem;
    padding-left: 50px;
}