*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}
.main{
    width: 300px;
    height: 600px;
    
    margin-left: 500px;
    margin-top: 100px;
    border:8px solid;
    
    border-radius: 20px;
}
.naive{
    width: 100%;
    height: 4%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.naive-left{
    height: 100%;
    width: 50%;
}
.naive-right{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.time{
    padding-left: 20px;
    padding-top: 5px;
}
.main-top{
    width:100%;
    height: 35%;
    background-color: #FC7E4B;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.main-top-top {
    width: 100%;
    height: 30%;

}
.main-top-top  h4 {
    font-size: 20px;
}
.main-top-middle{
    width: 100%;
    height: 60%;
    padding-left: 10px;
    padding-right: 10px;
}
.answer {
    width: 100%;
    height: 70%;
    font-size: 50px;
}
.equation {
    width: 100%;
    height: 20%;
}
.main-top-bottom{
    width: 100%;
    height: 20%;
    background-color: blue;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 10px;
    padding-right: 10px;

}
.main-bottom{
    width: 100%;
    height: 61%;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: repeat(4,1fr);
}
.heading{
    color: white;
    padding-left: 35%;
    padding-top: 20px;
    font-size: 100;
    font-family: 'Times New Roman', Times, serif;
}
.p{
    color: white;
    margin-top: 140px;
    margin-left: 30px;

}
.wifi{
    padding-left: 30px;
}
.bot{
    display: flex;
    justify-content: center;
    align-items: center;
}

