*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.con
{
    width: 100vw;
    
    display: flex;
    align-items: center;
    flex-direction: column;

    
}

 
.top{
    width: 100vw;
    height: 5vw;
    background-color: white;
}
    

.homgift{
    padding-left: 30px;
}
.giftcards{
    width: 100vw;
    height: 6vh;
 
    padding-top: 20px;
    
}
.featured{
    width: 100vw;
    height: 7vh;
    background-color: #F1EFEA;
    display: flex;
    
}
.allitems{
    display: flex;
    flex-direction: row;
    gap:30px;
    padding-left: 180px;
    padding-top: 20px;
    border: none;
}
.list{
list-style: none;
}
.smallline{
    width: 1px;
    height: 20px;
    background-color:grey;
}
.heading{
    width: 100vw;
    height: 6vh;
    padding-left: 170px;
    padding-top: 10px;
    
    
}

.anytime-con{
    width: 100vw;
    height: 34vh;
    display: flex;
    flex-direction: row;
    gap:10px;
    margin-left: 180px;
    
}
.con1,.con2,.con3{
    height:150px;
    width: 350px;
    margin-top: 30px;
    margin-left: 100px;
    

    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; ;
}
.con4{
    height:150px;
    width: 350px;
    margin-top: 30px;
    margin-left: 180px;
    

    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; ;


}
.congo-con{
    width: 100vw;
    height: 50vh;
}
.footer{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.footerleft{
    width:70vw;
    height:100vh;
    background-color: #0E382C;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap:30px;
}
.footerright{
    width: 30vw;
    height: 100vh;
    background-color:#0E382C;
}

.logo{
    margin-left: 180px;
    margin-top: 80px;
}
.about
{
    gap:30px;
    list-style: none;
}
.aboutus{
    display: flex;
    flex-direction: column;

    gap:40px;

}
.footer1{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.social{
    margin-top: 80px;
    color: white;
}
.insta{
    color: white;
    padding-top: 10px;
    
}
.fb{
    margin-left: 20px;
    padding-top: 20px;
}
.tweet{
    margin-left: 30px;
}
.app{
    margin-left: 200px;
    
}
.end{

    display: flex;
    flex-direction: column;
    margin-bottom: 80%;
}
.line{
    width: 100vw;
    height: 0.5px;
    background-color:grey;

    opacity:0.6;
}
.footerlast{
    width: 100vw;
    height: 15vh;
    background-color: #0E382C;
}
.footlast{
    margin-left: 180px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap:30px;
    border: none;

}
.fotlast{
    color: white;
list-style: none;
font-family: sans-serif;
font-weight: 100;
font-size: 0.8rem;
}
.smallline{
    width: 1px;
    height: 20px;
    background-color: grey;
}
.pa{
    color: white;
    font-family: sans-serif;
    font-size: 0.8rem;
    margin-left: 1000px;
    font-weight: 100;
    
}
